@charset "UTF-8";
/* CSS Document */

* {
	font-family: 'Kadwa', serif;
	color: #303331;
}
body{
	width: 100%;
	margin: 0;
	box-sizing: border-box;
}
/*begin nav bar*/
nav{ 
	height: auto;
	display: inline-block;
	box-sizing: border-box;
	word-wrap: break-word;
	float: right;
	padding: 13% 5%;
}
#logo {
	display: inline-block;
	height: 200px;
	max-width: 200px;
	margin: auto;
	padding: 5%;
}

ul { 
	list-style-type: none;
	display: block;
	
	
	
}
li {
	display: inline-block;
	padding-left: 20px;
	margin: 0 auto;
	float: right;	
}

a:link { 
	color:black;
	text-decoration: none;
}
a:visited {
	color: #303331;
}
a:hover {
	color: black;
	background-color: #DEF2F9;
}
a:active{
	color: #303331;
}

/*dropdown menue for the shop page*/
.dropbutton {
    background-color: white;
    color: black;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
  	z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	background-color: #DEF2F9;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbutton {
    background-color: #DEF2F9;
}
/*end nav bar*/

h1 {
	font-weight: 600;
	text-align: center;
	margin: 0 auto;
	padding: 2%; 
}
.mainimg {
	margin: 0 6%;
	overflow: auto;
	width: 88%;
	box-sizing: border-box;
	display: block;
	float: left;
	
	
}

/*three centered images*/
.subimg {
	overflow: auto;
	margin: 0 auto;
	width: 88%;
	box-sizing: border-box;
}
.subimg img {
	display: block;
	float: left;
	width: 26.66%;
	margin: 2% 5%;
	box-sizing: border-box;
}
/*first and third img have different spacing than the middle*/
.subimg img:first-of-type {
	margin-left: 0;
}

.subimg img:last-of-type {
	margin-right: 0;
}

footer {
	float:left;
	background: #DEF2F9;
	width: 100%;
	padding-left: 2%;
	box-sizing: border-box;
	position: relative; 
}
/*shop: paintings page*/
.grid {
	display: inline-block;
	margin: 0 auto;
}
.grid img {
	width: 26.66%;
}
/*about page css*/
#aboutimg {
	width: 30%;
	float: left;
	margin: 0 auto;
	padding: 2% 2% 2% 0;
}

#abouttxt{
	display: block;
	width: 50%;
	margin: 30px auto;
}