@charset "UTF-8";
/* CSS Document */

* {
	font-family: 'Raleway', sans-serif;
	color:#303331;
}
body{
	width: 98%;
	
	
}
nav{
	
	height: 5em;
	
	
}
ul { 
	list-style-type: none;
	display: block;
}
li {
	float: right;
	display: inline-block;
	padding: 30px 30px;	
}
h1 {
	font-weight: 600;
}
a:link { 
	color:black;
	text-decoration: none;
	
}
a:visited {
	color: #303331;
}
a:hover {
	color: dimgrey;
}
a:active{
	color: #303331;
}
.mainimg {
	width: 100%;
}
.subimg {
	width: 31%;
	padding: 1%;
}
footer {
	float:left;
	background:
}